main.grocery-lists .grocery-lists ul {
  list-style-type: none;
  padding-left: 0;
}

main.grocery-lists .grocery-lists ul > li,
main.grocery-lists .grocery-lists ul > li > a {
  color: var(--primaryText);
}

main.grocery-lists .grocery-lists ul > li:hover,
main.grocery-lists .grocery-lists ul > li > a:hover {
  color: var(--primaryMain);
  text-decoration: underline;
}

main.grocery-lists .grocery-lists ul .chip {
  margin-left: 10px;
}
