.alert.form-errors {
  width: 100%;
  margin-top:   1rem;
}

.alert.form-errors table td, .alert.form-errors table th {
  padding-left: 0.5em;
  padding-right: 0.5em;
}


.alert.form-errors .alert-post-message {
  margin-top: 1em;
  margin-bottom: 0;
  padding-left: 0.5em;
}
