.rating-stars {
  margin-top: 0.2em;
  margin-bottom: 0;
  white-space: nowrap;
}

.rating-stars .rating-text {
  margin-left: 0.25em;
  color: var(--secondaryText);
  font-weight: bold;
}

.rating-stars .rating-count {
  margin-left: 0.25em;
  color: var(--secondaryText);
}

.rating-stars .stars-icons.active {
  color: var(--secondaryMain);
}

.rating-stars .btn.rating {
  padding:  0 0.25em;
  color: var(--secondaryMain);
  font-size: 2rem;
  min-width: 0;
  min-height: 0;
}
.rating-stars .btn.rating .bi {
  font-size: 2rem;
}

@media screen and (min-width: 768px), print {
  .rating-stars .btn.rating {
    padding: 0;
  }
  .rating-stars .btn.rating .bi {
    font-size: 1.75rem;
  }
}

.rating-panel .ratings-body .rating-comment {
  position: relative;
}

.rating-panel .ratings-body .rating-comment:not(:first-of-type) {
  padding-top: 0.5em;
}
.rating-panel .ratings-body .rating-comment:not(:last-of-type) {
  padding-bottom: 0.5em;
}
.rating-panel .ratings-body .rating-form.create {
  border-bottom: 1px solid var(--inputBorder);
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}
.rating-panel .ratings-body .rating-comment.perma-link-active {
  box-shadow: 0 0 0 1px var(--primaryMain);
}

.rating-panel .ratings-body .rating-username {
  color: var(--primaryMain);
  margin-bottom: 0.25em;
}

.rating-panel .ratings-body .rating-timestamp {
  text-decoration: none;
}
.rating-panel .ratings-body .rating-timestamp:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .rating-panel .ratings-body .rating-comment .rating-toolbar {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    background-color: var(--elevation);

    display: none;
  }
  .rating-panel .ratings-body .rating-comment .rating-toolbar .btn {
    margin-left: 0;
  }
  .rating-panel .ratings-body .rating-comment .rating-toolbar .tooltip-inline-block:not(:first-child) {
    margin-left: 0.5em;
  }

  .rating-panel .ratings-body .rating-comment:hover .rating-toolbar {
    display: initial;
  }
}

.rating-panel .ratings-body .rating-comment p {
  max-width: 100ch;
}

.rating-form .rating-stars .btn {
  margin-top: 0;
}

.rating-panel .rating-form-heading {
  font-size: 1.1em;
  font-weight: bold;
}
.rating-panel .rating-form {
  margin-bottom: 1.5em;
}
.rating-panel .rating-form button {
  margin-top: 0.5em;
}
