.rating-stars {
  color: var(--secondaryMain);
  margin-bottom: 0;
  white-space: nowrap;
}

.rating-stars .btn.rating {
  padding:  0 0.25em;
  color: var(--secondaryMain);
  font-size: 2rem;
  min-width: 0;
  min-height: 0;
}
.rating-stars .btn.rating .bi {
  font-size: 2rem;
}

@media screen and (min-width: 768px), print {
  .rating-stars .btn.rating {
    padding: 0;
  }
  .rating-stars .btn.rating .bi {
    font-size: 1.75rem;
  }
}

.rating-panel .card-body .rating-comment:not(:first-of-type) {
  border-top: 1px solid var(--inputBorder);
  padding-top: 1.5em;
  margin-top: 0.5em;
}
.rating-panel .card-body .new-rating {
  border-bottom: 1px solid var(--inputBorder);
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}
.rating-panel .card-body .rating-comment.perma-link-active {
  box-shadow: 0 0 0 1px var(--primaryMain);
}

.rating-panel .card-body .rating-username {
  color: var(--primaryMain);
  margin-bottom: 5px;
}

.rating-panel .card-body .rating-timestamp {
  color: var(--disabledText);
  font-size: 0.92rem;
  text-decoration: none;
  margin-right: 0.5em;
}
.rating-panel .card-body .rating-timestamp:hover {
  text-decoration: underline;
}

.rating-panel .card-body .rating-delete-button {
  float: right;
}

.new-rating .rating-stars .btn {
  margin-top: 0;
}
