.rating-panel {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.rating-panel .ratings-heading {
  margin-bottom: 1em;
}
.rating-panel .ratings-heading .ratings-heading-col {
  display: flex;
  align-items: center;
}
.rating-panel .ratings-heading h2 {
  font-size: 1.3rem;
  margin-bottom: 0;
}
