.recipe-details .directions-panel h2 {
  height: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 0.2em;
}
.recipe-details .directions-panel > .direction-groups .subgroup {
  margin-bottom: 1em;
}
.recipe-details .directions-panel > .direction-groups > .subgroup:not(:first-of-type) {
  margin-top: 2em;
}
.recipe-details .directions-panel > .direction-groups ol {
  display: block;
}
.directions-panel > .direction-groups ol {
  list-style: none;
  counter-reset: cupcake;
  padding-left: 0.2rem;
}
.directions-panel > .direction-groups ol li {
  counter-increment: cupcake;
  margin-bottom: 1.25rem;
}
.directions-panel > .direction-groups ol li:before {
  content: counters(cupcake, '.') ' ';

  color: var(--secondaryContrast);
  background-color: var(--secondaryMain);
  border-radius: 50%;
  font-weight: bold;

  display: inline-block;
  width: 1.5em;
  margin-right: 0.5em;
  text-align: center;
}

/* INGREDIENTS */

.recipe-details .directions-panel > .direction-groups > .subgroup > .ingredients {
  margin: 0 0.5em 0.5em;
}

.recipe-details .directions-panel > .direction-groups > .subgroup > .ingredients > .ingredient-group .ingredients-table {
  line-height: normal;
  margin-bottom: 0;
  font-style: italic;
}

.recipe-details .directions-panel > .direction-groups > .subgroup > .ingredients > .ingredient-group .ingredients-table > caption {
  display: inline;
  caption-side: top;
  font-size: 0.875em;
  font-weight: normal;
  line-height: normal;
  padding: 0 0 0 0.25em;
  margin: 0;
}

.recipe-details .directions-panel > .direction-groups > .subgroup > .ingredients > .ingredient-group .ingredients-table > * {
  display: inline;
}

.recipe-details .directions-panel > .direction-groups > .subgroup > .ingredients > .ingredient-group .ingredients-table > tbody > tr {
  display: inline-block;
}

.recipe-details .directions-panel > .direction-groups > .subgroup > .ingredients > .ingredient-group .ingredients-table > tbody > tr > td {
  display: inline-block;
  background-color: transparent;
  border: 0;
  font-size: 0.875em;
  line-height: normal;
  color: var(--secondaryText);
  padding: 2px 0;
  margin: 0;
}

.recipe-details .directions-panel > .direction-groups > .subgroup  > .ingredients > .ingredient-group .ingredients-table > tbody > tr > td > span {
  padding: 0 0 0 0.25em;
}

.recipe-details .directions-panel > .direction-groups > .subgroup  > .ingredients > .ingredient-group .ingredients-table > tbody > tr > td.ingredient:after {
  content: ", "
}
.recipe-details .directions-panel > .direction-groups > .subgroup  > .ingredients > .ingredient-group .ingredients-table > tbody > tr:last-child > td.ingredient:after {
  content: ""
}

@media screen and (min-width: 1200px) {
  .recipe-details .directions-panel {
    max-width: none;
  }
  .recipe-details .directions-panel:not(.multi-directions) h2 {
    margin-bottom: 0.75em;
  }

  .recipe-details .directions-panel:not(.multi-directions) > .direction-groups > .subgroup.default-group > .ingredients {
    display: none;
  }
}
