.container.browser .search-bar {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 1rem;
}
.container.browser .search-bar .input-adornment-start {
  width: 3em;
  justify-content: center;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.container.browser .search-bar input {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.container.browser .search-bar input.adorned-end {
  border-right: none;
}
.container.browser .search-bar .input-adornment-end {
  background-color: transparent;
  border-left: none;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0;
}
.container.browser .search-bar .input-adornment-end .search-clear {
  border: none;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: transparent;
  color: var(--secondaryText);
  padding-top:    0;
  padding-bottom: 0;
}
.container.browser .search-bar .input-adornment-end .search-clear:hover {
  background-color: var(--midground);
}
.container.browser .search-bar .input-adornment-end .search-clear:hover {
  background-color: var(--hoverBg);
  color: var(--primaryText);
  box-shadow: 0 0 0 .05rem var(--primaryText);
  cursor: pointer;
}
.container.browser .search-bar .input-adornment-end .search-clear:focus {
  box-shadow: 0 0 0 .1rem var(--primaryText);
}

.container.browser .search-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.container.browser .search-summary p {
  margin-bottom: 0;
  padding-left: 10px;
}

.container.browser .search-summary .sort-by-dropdown {
  padding-left: 4px;
}
@media screen and (min-width: 768px) {
  .container.browser .search-summary .sort-by-dropdown {
    padding-right: 4px;
  }
}
.container.browser .search-summary #sort-by-button {
  padding-top: 4px;
  padding-bottom: 4px;
  border-color: var(--inputBorder);
}
@media screen and (min-width: 768px), print {
  .container.browser .search-summary #sort-by-button {
    min-height: unset;
  }
}

.container.browser .search-summary #sort-by-button:hover, .container.browser .search-summary #sort-by-button:focus {
  border-color: var(--primaryMain);
}


.container.browser .pagination {
  justify-content: center;
  margin-top: 1rem;
}
.container.browser .pagination .page-item .page-link:not(.active):hover {
  background-color: var(--hoverBg);
  border-color: var(--secondaryText);
}
.container.browser .pagination .page-item:not(:first-of-type) .page-link {
  border-left: none;
}
.container.browser .pagination .page-item:not(:last-of-type) .page-link {
  border-right: none;
}
.container.browser .pagination .pagination-separator:not(.disabled) + .page-item .page-link::before,
.container.browser .pagination .page-item + .pagination-separator:not(.disabled) .page-link::before {
  content: '';
  width: 1px;
  left: -1px;
  background: var(--inputBorder);
  position: absolute;
  height: 2.5em;
  top: 0.25em;
}
@media screen and (min-width: 768px) {
  .container.browser .pagination .pagination-separator:not(.disabled) + .page-item .page-link::before,
  .container.browser .pagination .page-item + .pagination-separator:not(.disabled) .page-link::before {
    height: 2em;
    top: 0.25em;
  }
}
.container.browser .pagination .page-item:not(:first-child) .page-link {
  margin-left: unset;
}
.container.browser .pagination .page-item.next,
.container.browser .pagination .page-item.skipper-near,
.container.browser .pagination .page-item.skipper-far {
  display: none;
}
@media screen and (min-width: 43rem) {
  .container.browser .pagination .page-item.next,
  .container.browser .pagination .page-item.skipper-near {
    display: list-item;
  }
}

@media screen and (min-width: 50rem) {
  .container.browser .pagination .page-item.skipper-near,
  .container.browser .pagination .page-item.skipper-far {
    display: list-item;
  }
}

.container.browser .no-results {
  margin-top: 1em;
  text-align: center;
}
.container.browser .spinner {
  text-align: center;
}
.container.browser .spinner .circular-progress {
  height: 100px !important;
  width: 100px !important;
  margin-top: 1.5rem;
  display: inline-block;
}

