#suggestions-heading {
  display: inline-block;
}
#shuffle-suggestions-button {
  margin-top: -0.5em;
  margin-left: 1em;
}

.recipes-list .recipe {
  border: 0;
}

.recipes-list .recipe > a {
  text-decoration: none;
  color: unset;
  padding: 4px;
  border-radius: 0.75rem;
}
.recipes-list .recipe > a:focus,
.recipes-list .recipe > a:focus-visible {
  box-shadow: 0 0 0 2px var(--primaryText);
  outline: none;
}
.recipes-list .recipe > a:hover .card-title, .recipes-list .recipe > a:focus .card-title {
  text-decoration: underline;
  color: var(--primaryMain);
}
.recipes-list .recipe .card-title {
  font-size: 1rem;
  margin-top: 0.25em;
  padding-bottom: 0;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipes-list .recipe .card-title-tooltip {
  max-width: 100%;
}

.recipes-list .recipe .card-img-top {
  height: 15rem;
  width:  100%;
  object-fit: cover;
  border-top-left-radius: calc(0.75rem - 1px);
  border-top-right-radius: calc(0.75rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
  border: 1px solid var(--midground); /* Fix weird borders in Firefox */
}
@media screen and (min-width: 768px), print {
  .recipes-list .recipe .card-img-top {
    height: 10rem;
  }
}
@media screen and (min-width: 1200px), print {
  .recipes-list .recipe .card-img-top {
    height: 12rem;
  }
}
.recipes-list .recipe .card-text {
  font-size: 0.92rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.25em;
}

.results-panel .results-container.pending {
  opacity: 0.5;
}
